<h1  class="span9">Blog & Stuff</h1>

  <div class="span3">
    <ul class="nav nav-list">
       <li class="nav-header">Articles</li>
      <li class="blog-link" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="item in posts">
        <span ng-class="{active: activeId==item.id}" class="blog-link" ng-click="setFullBlog()">{{item.title}}</span>
        <div class="well">{{ item.body | teaser }}</div>
      </li>
    </ul>
  </div>
  <div class="span6 blog-full">
    <h2>{{fullBlog.title}}</h2>
    <div ng-bind-html-unsafe="fullBlog.body"></div>
    <h3>Tags</h3>
    <div class='tags'>{{fullBlog.tag_list_json | tagFilter}}</div>
  </div>
