<span class="span3">
    <address>
    <h3>Alfred Nutile</h3>
      <abbr title="Phone">P:</abbr> (413) 345-5103
    </address>
  <address>
    <a href="mailto:#">alfrednutile@gmail.com</a></br></br>
    Alfred Nutile, dba<br>
    277 Main Street Unit 302B<br>
    Greenfield, MA 01301
  </address>
</span>
<span class="span3">
      <h3>More info</h3>
      <h4>Resume</h4>
      <p>
        <i class="halflings-icon white user"></i><a href="https://dl.dropboxusercontent.com/54803135/Resume.pdf" target="_blank">PDF Here</a></br>
        <i class="halflings-icon white user"></i><a href="https://dl.dropboxusercontent.com/u/54803135/Resume.doc" target="_blank">DOC Here</a>
      </p>
</span>
<span id="social-block" class="pull-right span6">
  <ul class="inline">
   <li id='linked'class='span3'>
    <%= link_to image_tag("linkedin-4-xl.png", alt: "LinkedIn"), 'http://www.linkedin.com/in/alfrednutile/' %>
    </li>
   <li id='twitter'class='span3'>
    <%= link_to image_tag("twitter-4-xl.png", alt: "Twitter"), 'http://twitter.com/alnutile' %>
   <li id='gplus'class='span3'>
    <%= link_to image_tag("google-plus-4-xl.png", alt: "Google+"), 'https://plus.google.com/u/1/113385596438431897721/posts/p/pub' %>
  </li>
  <li id='github'class='span3'>
   <%= link_to image_tag("github-9-xl.png", alt: "GitHub"), 'https://github.com/alnutile' %>
   </li>
  </ul>
</span>

