<div class="testimonies">

<blockquote>
	<p>
	"...professional and very easy to work with.  He ran the project right on time, thought of potential issues and enhancements, and was very patient and responsive with making adjustments to make the final product work great!"
	</p>
	<small><cite>Alice Chen MD http://www.drsforamerica.org/</cite></small>
</blockquote>

<blockquote>
	<p>
	"...ran the project right on time, thought of potential issues and enhancements"
	</p>
	<small><cite>Alice Chen MD http://www.drsforamerica.org/</cite></small>
</blockquote>

<blockquote>
	<p>
	"..very patient and responsive with making adjustments to make the final product work great!"
	</p>
	<small><cite>Alice Chen MD http://www.drsforamerica.org/</cite></small>
</blockquote>
</div>