<h3>Who?</h3>
        <p>
          <span class="dropcap">A</span>lfred Nutile
        </p>
        <p>
          15+ years of experience in different technologies. 
          <ul class="check_list">
            <li>Linux</li>
            <li>PHP</li>
            <li>Rails</li>
            <li>MySQL</li>
            <li>Drupal</li>
            <li>SysAdmin</li>
            <li>LAMP</li>
            <li>JS</li>
            <li>jQuery</li>
            <li>CSS</li>
            <li>Consulting</li>
            <li>Angular.js</li>
            <li>etc..</li>
          </ul>
        </p>