<hr>
	<% @projects.each do |project| %>
	  <div class="span3 item">
	  	<div class="picture">
	    	<%= link_to image_tag(project.photo.url(:medium)), project_path(project.id), :class => "image proj-#{project.id}", :data => { :url => project.photo.url(:large) } %>
	    <div class="description">
	    	<p>
				<%= simple_format strip_tags(truncate(project.body, :length => 200, :omission => "... (more)")) %>
	    	</p>
	    </div>
	  </div>
	</div>
	<% end %>
