<hr>
	<% @projects.each do |project| %>
	  <div class="span3 item">
	  	<div class="picture">
              <% if  project.id <= 26 %>
              <%
                 id = "%03d" % project.id
                 path_medium = "http://s3-us-west-2.amazonaws.com/nutilesblog/projects_original/#{id}/medium/"
                 path_large = "http://s3-us-west-2.amazonaws.com/nutilesblog/projects_original/#{id}/large/"
                 image = project.photo.to_s.split('/').last
              %>
                <%= link_to image_tag("#{path_medium}#{image}"), project_path(project.id), :class => "image proj-#{project.id}", :data => { :url => "#{path_large}#{image}" } %>
              <% else %>
                <%= link_to image_tag(project.photo.url(:medium)), project_path(project.id), :class => "image proj-#{project.id}", :data => { :url => project.photo.url(:large) } %>
              <% end %>
	    <div class="description">
	    	<p>
				<%= simple_format strip_tags(truncate(project.body, :length => 200, :omission => "... (more)")) %>
	    	</p>
	    </div>
	  </div>
	</div>
	<% end %>
