<div id="project-slide" class="media span12">
        <span id="slide1">
            <div class="media">
                 <div class="span5 media-img">
                  <!-- uploading file -->
                 <% if  @projectFull.id <= 26 %>
                   <%
                      id = "%03d" % @projectFull.id
                      path_medium = "http://s3-us-west-2.amazonaws.com/nutilesblog/projects_original/#{id}/medium/"
                      path_large = "http://s3-us-west-2.amazonaws.com/nutilesblog/projects_original/#{id}/large/"
                      image = @projectFull.photo.to_s.split('/').last
                   %>
                   <%= image_tag("#{path_large}#{image}", :class => 'img-polaroid media-object') unless @projectFull.photo.nil? %>
                 <% else %>
                   <%= image_tag(@projectFull.photo.url(:large), :class => 'img-polaroid media-object') unless @projectFull.photo.nil? %>
                 <% end %>
                 </div>             
                 <div class="span7 media-body">
                   <h4 class="media-heading"><%= @projectFull.title %></h4>
                  <p class="starting">
                    <%= raw @projectFull.body %>
                  </p>
                 </div>
            </div>
        </span>    
</div>
