<% provide(:title, 'Portfolio') %>

<div id='page-title'>
  <h2>Portfolio</h2>
</div>

<div id="wrapper">
	<div class="row-fluid">
		<div class="span12 posts">
			<%= render 'projects-top' %>
		</div>
	</div>
	<div id="wall" class="row-fluid">
		<%= render 'projects-bottom' %>
	</div>
</div>