<h2>Articles</h2>
  <ul class="links-list-alt">
     <% @posts.each do |post| %> 
      <li class="blog-link">
      	<% 
      		if params[:id].to_s == post.id.to_s
      			active = 'active'
      		else 
      			active = 'not-active'
      		end
      	%>
        <%= link_to post.title, post, :class => "#{active}" %>
      </li>
     <% end %>
  </ul>

