<% @posts.each do |post| %>
	<div class="post">
		<div class="post-content">
			<div class="post-title"><%= link_to post.title, post_path(post.id) %></div>
			<div class="post-description">
				<p>
					<%= simple_format strip_tags(truncate(post.body, :length => 200, :omission => "... (more)")) %>
				</p>
			</div>
		</div>
	</div>
<% end %>
