<% provide(:title, 'Blog & Stuff') %>

<div id='page-title'>
  <h2>Blog &amp; Stuff</h2>
</div>

<div id="wrapper">
	<div class="row-fluid">
		<div class="span8 posts">
			<%= render 'bloglist' %>
		</div>

		<div class="sidebar span4 hidden-phone">
			<%= render 'blogsidebar' %>
		</div>
	</div>
</div>
