// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* blog posts */
span.blog-link, a.blog-link {
	color: #0088cc;
	text-decoration: none;
	cursor: pointer;
	padding: 5px;
	width: 163px;
	margin-left: 0px;
	margin-right: 0px;
	display: block;
}

a.blog-link.active, li.blog-link a:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.nav-list li.blog-link a {
	margin-left: 0px;
	margin-right: 0px;
}

.post-content ul {
  list-style: inherit;
  margin: 0 0 0 33px
}

.highlight {
  margin: 10px 0 10px 0;
  pre {
    background-color:#eee;
    overflow:auto;
    margin:0 0 1em;
    padding:.5em 1em;
  }

  pre code,
  pre .line-number {
    /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
    font:normal normal 12px/14px "Courier New",Courier,Monospace;
    color:black;
    display:block;
  }

  pre .line-number {
    float:left;
    margin:0 1em 0 -1em;
    border-right:1px solid;
    text-align:right;
  }

  pre .line-number span {
    display:block;
    padding: 2px .5em 3px 1em;
  }

  pre .cl {
    display:block;
    clear:both;
  }
}