<h1 class="title">About</h1>
<div>Me?
	Why put that info here go to 
	<a href="http://www.linkedin.com/in/alfrednutile/">http://www.linkedin.com/in/alfrednutile/</a> or  <a href="http://twitter.com/alnutile">http://twitter.com/alnutile
	</a>
	<p>Or the infamous resume 
	    <a href="https://dl.dropboxusercontent.com/u/54803135/Resume.pdf" target="_blank">here</a>
    </p>
	okay more coming soon..
</div>
