	<div class="row-fluid">
		<div class="span8">
			<h1>
				Support Plans
			</h1>
			<p class="lead">
				These plans are paid quarterly or yearly.  All unused time from the "<a href="#ydig">Your discount IT Guy plan</a>" will be added on to the next month or quarter.<a href="#1"><small>[1]</small></a>
			</p>
			<h3>
				WatchDog Plan for Wordpress, Drupal
			</h3>
			<p>
Minimum 2 hours a month at discount rate.<br>
This minimum affords you proactive security updates.<br>
Server related security updates.<br>
Test recovery of database and site backup.<br>
Full backup both nightly and monthly off site.(data charges may apply)<br>
Full report of work done and if any work remains outside of this 2 hour range it will be quoted at a discounted price. 
<br>
<br>
After this see please see "<a href="#ydig">Your discount IT Guy plan</a>"
</p>
			<h3>
				WatchDog Plan for Ruby on Rails
			</h3>
			<p>
minimum 1 hours a month.<br>
This minimum affords you proactive security updates.<br>
Server related security updates.<br>
Test recovery of database and site backup.<br>
Full backup both nightly and monthly off site.(data charges may apply)<br>
Full report of work done and if any work remains outside of this 2 hour range it will be quoted at a discounted price. 
<br>
<br>
After this see please see "<a href="#ydig">Your discount IT Guy plan</a>"
			</p>

<h3>
				<a name="wd">WatchDog Plan (WD)</a>
			</h3>
			<p>
Minimum 2 hours a month.<br>
This minimum affords you proactive security updates.<br>
Server related security updates.<br>
Test recovery of database and site backup.<br>
Full backup both nightly and monthly off site.(data charges may apply)<br>
Full report of work done and if any work remains outside of this 2 hour range it will be quoted at a discounted price. 
<br>
<br>
After this see please see “Your discount IT Guy plan”
</p>
			<h3>
				<a name="ydig">Your discount IT Guy plan (YDIG)</a>
			</h3>
			<h5>1 Watchdog Plan as noted above + 2 or more hours a month</h5>

<p>After the proactive work that can fit in the minimum purchased amount of noted above, there is may be other work and support needs. What this plan does is allows me to set aside time to be available to your via email, phone, chat etc.</p>

<p>It also affords you a discount of 10% off of ANY work. So if you have this plan in place for at least 3 months prior to a new App or Theme etc you would save 10%.</p>

<p>Lastly, it allows me to place your work requests into the work queue quicker than new clients. You will go to a turn around time of about 2 weeks for most requests start. This is compared to possibly 1-2 months..</p>


<h3>The fine print!</h3>
<a name="1"><small>[1]</small></a>
<p>
The hours “roll over” but do not replace the next quarter. 
For example if you have 4 hours remaining for quarter 1 and you enter quarter 2 you would still need to pay for your full plan. These hours plus your new quarter's hours would be available to you.
</p>

<a name="2"><small>[2]</small></a>
<p>
	Any work that goes over the Watchdog prepaid hours will first be submitted for client approval before moving forward on. For example a Drupal Security update that is complex and will take 4 hours to update. I woul dfirst submit a request for the extra 2 billable hours.
</p>

</div>
		<div class="span4">

			<h3>
				The Plans!
			</h3>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>
							What?
						</th>
						<th>
							WD
						</th>
						<th>
							YDIG
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="info">
						<td>
							Backup Reviews
						</td>
						<td>
							x
						</td>
<td></td>
					</tr>
					<tr class="success">
						<td>
							Proactive Security Updates
						</td>
						<td>
							x
						</td>
<td></td>
					</tr>
					<tr class="info">
						<td>
							Discount Prices
						</td>
						<td>
							x
						</td><td>x</td>

					</tr>
					<tr class="success">
						<td>
							Email Support
						</td>
						<td>
						</td><td>x</td>
					</tr>
					<tr class="info">
						<td>
							Phone Support
						</td>
						<td>
							
						</td><td>x</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>